<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>
			Sconit/Languages
		</languageFileFolder>
		<connectionString>
			<!--Server=10.20.96.66;Database=sconit_test;uid=sconittest;pwd=sconittest;-->
			Server=192.168.210.147;Database=sconit_test;uid=sa;pwd=Temp100;
		</connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
